<div class="center hero-unit">
  <h1>Welcome to Debateable,</h1>
  <h2>
    Slideshare powered debate on the web--ending flamewars, uncited statistics, and non-existent research.
  </h2>

  <%= link_to "Register now", '#', class: "btn btn-large btn-primary" %>
</div>

