<% provide(:title, 'Debateable Propositions') %>
<h1>Debateable Propositions</h1>

<%= will_paginate %>

<ul class="propositions">
  <% @propositions.each do |proposition| %>
    <%= render proposition %>
  <% end %>
</ul>

<%= will_paginate %>
