<% provide(:title, @user.name) %>
<h1><%= @user.name %></h1>
  <div class="center hero-unit">
    <%= link_to "Create a Proposition", new_user_proposition_path(@user), class: "btn btn-small btn-primary" %>
    <%= link_to "Oppose a Proposition", propositions_path, class: "btn btn-small btn-primary" %>
  </div>
  <div class="span8">
    <h3>Propositions <%= @propositions_count %> </h3>
  </div>
