
$grayHero: rgb(238, 238, 238);

/* unversal dictation! */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* header better */
.brand {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

.navbar-search {
  padding:0px 20px 0px 30px;
  margin-left: 10px;
}

/* footer */
footer {
  margin-top: 40px;
  padding-top: 5px;
  border-top: 1px solid $grayHero;
  color: rgb(238, 238, 238);
  a {
    color: $grayHero;
    &:hover {
      color: $grayDarker;
    }
  }
  small {
    float: left;
    margin-left: 5px;
  }
  ul {
    float: right;
    margin-right: 5px;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* form */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  height: auto;
  margin-bottom: 15px;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}
