<footer class="footer">
  <small>
    <a href="http://keppy.github.com"><i class="icon-eye-open"></i> by james dominguez</a>
  </small>
  <nav>
    <ul>
    <li><%= link_to "About", about_path %></li>
    <li><%= link_to "Help",  help_path %></li>
    </ul>
  </nav>
</footer>
